body {
  background-color: #404040;
  font-family: 'Poppins', sans-serif;
  color: #ffff;
}

#display-image{
  width: 20%;
  padding: 5px;
  margin: 15px;
}
img{
  margin: 5px;
  width: 250px;
  height: 250px;
}