body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #E6B3A9;
    font-family: 'Poppins', sans-serif; 
}

.wrapper {
    background: #ffff;
    width: 450px;
    border-radius: 16px;
}

.users {
    padding: 25px 30px;
}

.users .header{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}

.users .header .details {
    margin-left: 15px;
}

.users .header .details span {
    font-size: 18px;
    font-weight: 500px
}

.users .header .logout {
    color: #ffff;
    font-size: 17;
    padding: 7px 15px;
    background: #0000;
    border-radius: 5px;
}

.users .search {
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.user .search .text {
    font-size: 18px;
}

.user .search input {
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.users .search button {
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #ffff;
    background: #0000;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
}