body {
    border: solid 2px #EC008C;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #404040;
    font-family: 'Poppins', sans-serif; 
}