body {
    background-color: #E6B3A9;
    font-family: 'Poppins', sans-serif; 
}

#home {
    box-sizing: border-box;
    border: solid 2px #EEA191;
    width: 50px;
    height: 25px;
    text-align: center; 
}