body {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #404040;
    font-family: 'Poppins', sans-serif; 
    border: solid 2px #EC008C;
}

a {
    background-color: #ffff;
    border: solid 2px #EC008C;
    color: #000000;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

.container {
    text-align: center;
}

input{
    display: flex;
    margin: 8px;
}

.submit {
    background-color: #ffff;
    border: solid 2px #EC008C;
    color: #000000;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
